<a href="http://{{host}}:{{port}}/home"> Home </a>

{{!-- Создание записи --}}
<form id="create-articles">
    <p> Description <input type="text" name="description"></p>
    <p> Category ID <input type="text" name="category_id"></p>
    <p> Image ID <input type="text" name="image_id"></p>
    <button type="submit" style="background-color:darkolivegreen">Create articles</button>
</form>
<div id="createarticles" style="background-color:darkolivegreen"></div>

<hr>
{{!-- Вывод всех записей --}}
<form id="get-articles">
    <button type="submit" style="background-color:darkgoldenrod">Get all articles</button>
</form>
<div id="allarticles" style="background-color:darkgoldenrod"></div>

<hr>
{{!-- Вывод всех своих записей --}}
<form id="get-article">
    <button type="submit" style="background-color: cadetblue">Get my articles</button>
</form>
<div id="articles" style="background-color:cadetblue"></div>

<hr>
{{!-- Вывод всех записей по категориям --}}
<form id="get-articlesforcategory">
    <p> Category ID <input type="text" name="category_id"></p>
    <button type="submit" style="background-color:deepskyblue">Get articles for Category</button>
</form>
<div id="articlesforcategory" style="background-color:deepskyblue"></div>

<hr>
{{!-- Вывод всех записей по подпискам и cвоих --}}
<form id="get-articlefollower">
    <button type="submit" style="background-color:lightcoral">Get my follower</button>
</form>
<div id="articlefollower" style="background-color:lightcoral"></div>

<hr>
{{!-- Обновление записи --}}
<form id="update-articles">
    <p> Article ID <input type="text" name="id"></p>
    <p> Description update <input type="text" name="description"></p>
    <p> Category ID update <input type="text" name="category_id"></p>
    <p> Image ID update <input type="text" name="image_id"></p>
    <button type="submit" style="background-color:sienna">Update articles</button>
</form>
<div id="updatearticles" style="background-color:sienna"></div>

<hr>
{{!-- Удаление записи --}}
<form id="delete-articles">
    <p> Delete ID <input type="text" name="id"></p>
    <button type="submit" style="background-color:red">Delete articles</button>
</form>
<div id="deletearticles" style="background-color:red"></div>

<hr>


<script src="../js/app_article.js"></script>