<form id="get-article">
    <button type="submit" style="background-color: cadetblue">Get my articles</button>
</form>
<div id="articles" style="background-color:cadetblue"></div>

<hr>

<form id="get-articles">
    <button type="submit" style="background-color:darkgoldenrod">Get all articles</button>
</form>
<div id="allarticles" style="background-color:darkgoldenrod"></div>

<hr>

<form id="create-articles">
    <p> Description <input type="text" name="description"></p>
    <p> Category ID <input type="text" name="category_id"></p>
    <p> Image ID <input type="text" name="image_id"></p>
    <button type="submit" style="background-color:darkolivegreen">Create articles</button>
</form>
<div id="createarticles" style="background-color:darkolivegreen"></div>

<hr>

<form id="get-articlesforcategory">
    <p> Category ID <input type="text" name="category_id"></p>
    <button type="submit" style="background-color:deepskyblue">Get articles for Category</button>
</form>
<div id="articlesforcategory" style="background-color:deepskyblue"></div>

<hr>

<form id="get-articlefollower">
    <button type="submit" style="background-color:lightcoral">Get my follower</button>
</form>
<div id="articlefollower" style="background-color:lightcoral"></div>

<hr>

<form id="update-articles">
    <p> Article ID <input type="text" name="id"></p>
    <p> Description update <input type="text" name="description"></p>
    <p> Category ID update <input type="text" name="category_id"></p>
    <p> Image ID update <input type="text" name="image_id"></p>
    <button type="submit" style="background-color:sienna">Update articles</button>
</form>
<div id="updatearticles" style="background-color:sienna"></div>

<hr>

<form id="delete-articles">
    <p> Delete ID <input type="text" name="id"></p>
    <button type="submit" style="background-color:red">Delete articles</button>
</form>
<div id="deletearticles" style="background-color:red"></div>

<hr>

<script src="../js/app.js"></script>