<a href="http://{{host}}:{{port}}/home"> Home </a>
{{!--Создание категории --}}
<form id="create-category">
    <p> Name <input type="text" name="name"></p>
    <button type="submit" style="background-color:darkolivegreen">Create category</button>
</form>
<div id="createcategory" style="background-color:darkolivegreen"></div>

<hr>
{{!--Вывод всех категорий --}}
<form id="get-categories">
    <button type="submit" style="background-color:darkgoldenrod">Get all categories</button>
</form>
<div id="allcategories" style="background-color:darkgoldenrod"></div>

<hr>
{{!--Вывод одной категории --}}
<form id="get-category">
    <p> Category ID <input type="text" name="category_id"></p>
    <button type="submit" style="background-color:deepskyblue">Get one category</button>
</form>
<div id="getcategory" style="background-color:deepskyblue"></div>

<hr>
{{!--Обновление категории --}}
<form id="put-category">
    <p> Category ID <input type="text" name="category_id"></p>
    <p> Name update <input type="text" name="name"></p>
    <button type="submit" style="background-color:sienna">Update category</button>
</form>
<div id="putcategory" style="background-color:sienna"></div>

<hr>
{{!--Удаление категории --}}
<form id="del-category">
    <p> Category delete ID <input type="text" name="category_id"></p>
    <button type="submit" style="background-color:red">Update category</button>
</form>
<div id="delcategory" style="background-color:red"></div>

<hr>




<script src="../js/app_category.js"></script>